
h1 {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

* {
    box-sizing: border-box;
  
}




#clock { 
  display: flex;
  width: 800px;
  margin:0 auto;
  }

#clock div

{
  position: relative;
  width: 100px;
  padding: 20px;
  margin: 0 5px;

  color: #fff;
  


}  

#clock div span
{
  display: block;
  text-align: center;
}

.carousel .carousel-control-prev-icon{
  width: 60px;
  height: 60px;


}

.carousel .carousel-control-next-icon{
  width: 60px;
  height: 60px;
}


.fondo{
    height: 100vh;
    background: url('http://www.inictel-uni.edu.pe/sites/default/files/styles/noticias_medium/public/archivos/2016/noticias/05/auditorio_cecoi_-_copia.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    

}



.transparencia{
    background: rgba(0,0,0,0.8);
}

.top-nav-collapse{
    background: rgba(0,0,0,1) !important;
}


.container {
    width: 100%;
    margin: auto;
  }


.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }


  .social-icon {
  
    display: flex;
    justify-content: space-between;
   
  
  }  
  
  .social-icon  [class*="icon-"] {
    color: black;
  
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%
  }
  
  .social-icon  [class*="fab fa-youtube"] {
    color: black;
  
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%
  }
  



.navbar-nav {

    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
 

  }

  


ul.tabs{
	width: 100%;

	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 33%;
}

ul.tabs li a{
	color: black;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 5px 0px;
}

a.active{
  background: #e65100
}

ul.tabs li a .tab-text{
	margin-left: 0px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
    padding: 15px 0px;
    
	}

	ul.tabs li a .tab-text{
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 5px 0px;
    margin-left:0px;
    
	}

	.secciones article{
		padding: 20px;
	}
}





