<nav class="navbar  white navbar-expand-xl navbar-dark transparencia scrolling-navbar fixed-top" style="padding:0px">
    <div class="container container--flex">
        <a class="navbar-brand" href="/#"><img src="img/code3.png" alt="img-fluid z-depth-1-half"
                                              style="max-height: 56px;"></a>
        <div class="row d-block d-sm-none d-m-none d-lg-none d-xl-none" style="margin-left:-40px"><a class="nav-link font-weight-bold light-blue-text default-color  black-text  text-monospace" style="font-size: 20px;font-family: 'Yanone Kaffeesatz', sans-serif;padding:1.5px" href="/hackaton">HACKATHON</a></div>
        <div class="row d-none d-xs-none d-sm-block d-m-block d-lg-block d-xl-none justify-content-center default-color" style="margin-left:-100px" ><a class="nav-link font-weight-bold black-text  text-monospace " style="font-size: 26px;font-family: 'Yanone Kaffeesatz', sans-serif;" href="/hackaton">"HACKATHON"</a></div>
        <button class="navbar-toggler default-color" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-right:10px;">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav" >
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link font-weight-bold black-lighter-hover grey-text" style=".hover" data-scroll href="/#inicio"><br>INICIO</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold cyan-lighter-hover grey-text" data-scroll href="/#nosotros"><br>NOSOTROS</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold a:hover grey-text" data-scroll href="/#ejes"><br>EJES TEMÁTICOS</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold grey-text" data-scroll href="/#productos"><br>PRODUCTOS</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold grey-text" data-scroll href="/#inscripción"><br>INSCRIPCIÓN</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold grey-text" data-scroll href="/#auspiciadores"><br>AUSPICIADORES</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold grey-text " href="/#contacto"><br>CONTACTO</a></li>
                <li class="div">
                    <div class="row">
                        <ul class="social-icon">
                            <div style="margin-left:32px;"><a href="https://www.facebook.com/codeuni2019/" class="fab fa-facebook-f fa-fw blue-text"></a></div>
                            <div><a style="margin-left:0px;"  href="https://www.youtube.com/channel/UCCZMTya_--5vNLWIYjsJ0jA" class="fab fa-youtube fa-fw red-text"></a></div>
                            <div><a href="https://www.instagram.com/codeuni2019/" class="fab fa-instagram fa-fw pink-text"></a></div>


                        </ul>
                    </div>
                    <div class="row d-none d-xl-block" style="margin-left: 35px;"><a class="nav-link font-weight-bold black-text default-color  text-monospace " style="font-size: 20px;font-family: 'Yanone Kaffeesatz', sans-serif;padding:1.5px;margin-top: 4px;" href="/hackaton">"HACKATHON"</a></div>
                </li>


            </ul>
        </div>
    </div>
</nav>
    <section class="fondohackaton view" id="inicio">
        <div class=" mask rgba-black-light flex-center rgba-black-stron">
            <div class="container wow fadeInUp">
                <div class="row justify-content-md-center text-center">
                    <div class="col-md-6 text-white" style="background-color: rgba(0,0,0,0.28)">
                        <div class="row justify-content-md-center" style="margin-left:1%;margin-right:1%">
                            <img src="img/LOGO-HACK-PNG-LÍNEA-BLANCA.png"  alt="" class="img-fluid text-center justify-content-md-center">
                        </div>
                        <hr class="bg-light " style="margin-top: 0px;">
                        <div class="row justify-content-md-center h4-responsive  d-block d-sm-none">
                            <h3 style="font-weight:bold;color: #ffffff;font-size:50px;" class=" h4-responsive text-center font-weight-bold"> 02-03 de Noviembre </h3>

                        </div>
                        <h3 style="font-weight:bold;color: #ffffff;font-size:50px;" class=" h4-responsive text-center font-weight-bold  d-none d-sm-block d-m-block d-lg-block d-xl-block"> 02-03 de Noviembre </h3>
                        <img src="img/BOTÓN-INSCRIPCIONES.png" class="btn img-fluid text-center justify-content-md-center img-inscripciones" onclick="window.location.href='https://forms.gle/aHL1id8QYDffsdYz9'">


                        <!--<div class="row justify-content-md-center">
                            <button type="button" class="btn btn-light" data-toggle="modal"
                                    data-target="#modalQuickView">
                                | Compre su entrada online, inscríbase al congreso |
                            </button>
                        </div>

                        <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                &lt;!&ndash;Carousel Wrapper&ndash;&gt;
                                                <div id="carousel-thumb"
                                                     class="carousel slide carousel-fade carousel-thumbnails"
                                                     data-ride="carousel">
                                                    &lt;!&ndash;Slides&ndash;&gt;
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="carousel-item active">
                                                            <img class="d-block w-100"
                                                                 src="/img/ticketgeneral.PNG"
                                                                 alt="First slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/img/codelistatalleres.jpg"
                                                                 alt="Second slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/img/tourcode.jpg"
                                                                 alt="Third slide">
                                                        </div>
                                                    </div>
                                                    &lt;!&ndash;/.Slides&ndash;&gt;
                                                    &lt;!&ndash;Controls&ndash;&gt;
                                                    <a class="carousel-control-prev" href="#carousel-thumb"
                                                       role="button"
                                                       data-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                              aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-thumb"
                                                       role="button"
                                                       data-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                              aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>

                                                </div>
                                                &lt;!&ndash;/.Carousel Wrapper&ndash;&gt;
                                            </div>
                                            <div class="col-lg-7">
                                                <h2 class="h2-responsive product-name">
                                                    <strong style="color: #222222">Ticket virtual CODE 2019</strong>
                                                </h2>
                                                <div class="card-group">
                                                    <div class="card mb-4" style="filter: grayscale(100%);margin-bottom: 0px;">
                                                        <div class="view overlay">
                                                            <img class="card-img-top img-fluid img-responsive"
                                                                 src="img/agosto.png"
                                                                 alt="Card image cap Responsive image">
                                                            <a href="#!">
                                                                <div class="mask rgba-white-slight"></div>
                                                            </a>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title justify-content-md-center text-dark">
                                                                1era Etapa</h5>
                                                            <p class="card-text">Some quick example text to build on the
                                                                card title and make up the bulk of the card's
                                                                content.</p>
                                                            <h4 class="card-title justify-content-md-center text-dark"
                                                                style="margin-bottom: 0px;">S/.40</h4>

                                                        </div>
                                                    </div>
                                                    <div class="card mb-4"
                                                         style="margin-bottom: 0px;">
                                                        <div class="view overlay">
                                                            <img class="card-img-top" src="img/septiembre.png"
                                                                 alt="Card image cap">
                                                            <a href="#!">
                                                                <div class="mask rgba-white-slight"></div>
                                                            </a>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title justify-content-md-center text-dark">
                                                                2da Etapa</h5>
                                                            <p class="card-text">Some quick example text to build on the
                                                                card title and make up the bulk of the card's
                                                                content.</p>
                                                            <h4 class="card-title justify-content-md-center text-dark"
                                                                style="margin-bottom: 0px;">S/.50</h4>

                                                        </div>
                                                    </div>
                                                    <div class="card mb-4"
                                                         style="filter: grayscale(100%);margin-bottom: 0px;">
                                                        <div class="view overlay">
                                                            <img class="card-img-top" src="img/octubre.png"
                                                                 alt="Card image cap">
                                                            <a href="#!">
                                                                <div class="mask rgba-white-slight"></div>
                                                            </a>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title justify-content-md-center text-dark">
                                                                3era Etapa</h5>
                                                            <p class="card-text">Some quick example text to build on the
                                                                card title and make up the bulk of the card's
                                                                content.</p>
                                                            <h4 class="card-title justify-content-md-center text-dark"
                                                                style="margin-bottom: 0px;">S/.60</h4>

                                                        </div>
                                                    </div>
                                                </div>


                                                &lt;!&ndash; Add to Cart &ndash;&gt;
                                                <div class="card-body" style="padding-top: 0px;padding-bottom: 0px;">
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="md-form">
                                                                <input type="number" name="numerodetickets" id="input0"
                                                                       class="form-control">
                                                                <label for="input0">Cuántos desea?</label>
                                                            </div>


                                                        </div>
                                                    </div>

                                                    <div class="row text-center">

                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button class="btn btn-primary" data-toggle="modal"
                                                                data-target="#modalQuickView2">Ingreso de datos
                                                            <i class="fas fa-cart-plus ml-2" aria-hidden="true"></i>
                                                        </button>
                                                        &lt;!&ndash; Modal: modalQuickView &ndash;&gt;
                                                        <div class="modal fade" id="modalQuickView2" tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="exampleModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-body">

                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <br/>
                                                                                <h2 class="h2-responsive product-name">
                                                                                    <strong style="color: #222222">Datos
                                                                                        del comprador</strong>
                                                                                </h2>
                                                                                <br/>
                                                                                <div class="row">
                                                                                    <div class="col-lg-11 offset-lg-1">
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                            <input name="nombres"
                                                                                                   type="text"
                                                                                                   class="form-control"
                                                                                                   id="input1"
                                                                                                   placeholder="Nombres">
                                                                                            <label for="input1">Nombres
                                                                                                completos (para
                                                                                                certificados)</label>
                                                                                        </div>
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                            <input name="apellidos"
                                                                                                   type="text"
                                                                                                   class="form-control"
                                                                                                   id="input2"
                                                                                                   placeholder="Apellidos">
                                                                                            <label for="input2">Apellidos
                                                                                                completos (para
                                                                                                certificados)</label>
                                                                                        </div>
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                            <input name="email"
                                                                                                   type="email"
                                                                                                   class="form-control"
                                                                                                   id="input3"
                                                                                                   placeholder="Email">
                                                                                            <label for="input3">Correo
                                                                                                electrónico
                                                                                                (mail)</label>
                                                                                        </div>
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                            <input name="telefono"
                                                                                                   type="tel"
                                                                                                   class="form-control"
                                                                                                   id="input4"
                                                                                                   placeholder="Telefono">
                                                                                            <label for="input4">Telefono</label>
                                                                                        </div>
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                            <input name="dni"
                                                                                                   type="text"
                                                                                                   class="form-control"
                                                                                                   id="input5"
                                                                                                   placeholder="DNI">
                                                                                            <label for="input5">DNI</label>
                                                                                        </div>


                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <br/>
                                                                                <h2 class="h2-responsive product-name"
                                                                                    style="visibility: hidden;">
                                                                                    <strong style="color: #222222">Datos
                                                                                        del comprador</strong>
                                                                                </h2>
                                                                                <br/>
                                                                                <div class="row">
                                                                                    <div class="col-lg-11">
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                            <input name="institucion"
                                                                                                   type="text"
                                                                                                   class="form-control"
                                                                                                   id="input6"
                                                                                                   placeholder="Institución/independiente">
                                                                                            <label for="input6">Institución
                                                                                                donde estudia o
                                                                                                trabaja</label>
                                                                                        </div>
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                            <input name="emailinvitacion"
                                                                                                   type="email"
                                                                                                   class="form-control"
                                                                                                   id="input7"
                                                                                                   placeholder="Correos (opcional)">
                                                                                            <label for="input7">Mails de
                                                                                                personas que usted cree
                                                                                                podemos invitar</label>
                                                                                        </div>
                                                                                        &lt;!&ndash; Material input
                                                                                        &ndash;&gt;
                                                                                        <div class="md-form form-group">
                                                                                        <textarea name="atencioncode"
                                                                                                  type="text"
                                                                                                  class="md-textarea sm-textarea"
                                                                                                  id="input8" style="height:
						100px;" placeholder="Cuéntenos (opcional)"></textarea>
                                                                                            <label for="input8">Qué más
                                                                                                le llama la atención del
                                                                                                congreso? </label>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            &lt;!&ndash; /.Add to Cart &ndash;&gt;
                                                                        </div>
                                                                        <div class="row"
                                                                             style="margin-left: 8%;margin-right: 8%">
                                                                            <br/>
                                                                            <h6 class="h4-responsive product-name">
                                                                                <span style="color: #222222">Se le enviará el ticket digital a su correo, esté pendiente del envío. La entrada a los eventos se realizará por medio de este y la confirmación de sus datos por medio del DNI</span>
                                                                            </h6>
                                                                            <br/>
                                                                        </div>
                                                                        <div class="row text-center"
                                                                             style="margin-left: 3%;margin-right: 8%;padding-bottom: 1.8%;">

                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close
                                                                            </button>
                                                                            <form action="/checkout" method="POST">
                                                                                <script
                                                                                        src="https://checkout.stripe.com/checkout.js"
                                                                                        class="stripe-button"
                                                                                        data-key="pk_test_RCpwkS8TE0aH9zCGSn88F3nG00hSkOtUnL"
                                                                                        data-amount="4000"
                                                                                        data-name="CODE"
                                                                                        data-description="Ticket pass congress"
                                                                                        data-image="/img/Logo.ico"
                                                                                        data-locale="auto"
                                                                                        data-currency="pen">
                                                                                </script>
                                                                                <script>
                                                                                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                                                                                </script>
                                                                                <button class="btn btn-primary"
                                                                                        type="submit">Comprar
                                                                                    <i class="fas fa-cart-plus ml-2"
                                                                                       aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            &lt;!&ndash; /.Add to Cart &ndash;&gt;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <script>
                            // Configura tu llave pública
                            Culqi.publicKey = 'pk_test_1JJPEuOG12RFqhv6';
                            // Configura tu Culqi Checkout
                            Culqi.settings({
                                title: 'CODE',
                                currency: 'PEN',
                                description: 'Entrada General CODE',
                                amount: 50000
                            });
                            // Usa la funcion Culqi.open() en el evento que desees
                            $('#buyButton').on('click', function(e) {
                                // Abre el formulario con las opciones de Culqi.settings
                                Culqi.open();
                                e.preventDefault();
                            });
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container wow bounceInLeft" style="margin-top:4em">
        <h1 class="mb-5 font-weight-bold text-center rgba-cyan-strong" > Objetivo General </h1>
        <div class="row " >
            <h4 class="text-justify text-center" >Generar soluciones a través de herramientas tecnológicas a los principales
                malestares de los estudiantes de la Universidad Nacional de Ingeniería con el
                propósito de contribuir a la mejora de la vida universitaria.</h4>

        </div>
        <hr>
        <section id="examples" class="text-center">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-mb-4">
                    <div class="view overlay hm-white-slight  zoom " align="center">
                        <img style="height: 200px;" src="img/LOGO-01-PERSONAS.png" class="img-fluid  " alt="Responsive image">
                        <a target="_blank">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <h4 class="my-4 font-weight-bold"> Público Objetivo </h4>
                    <p class=""> Universidades, Incubadoras, Comunidades tecnológicas Instituciones públicas,
                        privadas, empresariado MYPE y público en general que promueven la
                        innovación y desarrollo tecnológico</p>
                </div>
                <div class="col-lg-4 col-md-6 col-mb-4">
                    <div class="view overlay  hm-white-slight  zoom" align="center">
                        <img style="height: 200px;" src="img/LOGO-02-FECHA.png" class="img-fluid" alt="">
                        <a target="_blank">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <h4 class="my-4 font-weight-bold"> ¿Cuándo? </h4>
                    <p class="" id="Section4">Sábado 02 de noviembre desde las 8:30 am hasta el domingo 03 de octubre a las 8:00pm</p>
                </div>
                <div class="col-lg-4 col-md-6 col-mb-4">
                    <div class="view overlay  hm-white-slight  zoom" align="center">
                        <img style="height: 200px;" src="img/LOGO-03-LUGAR.png" class="img-fluid" alt="">
                        <a target="_blank">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <h4 class="my-4 font-weight-bold"> ¿Dónde? </h4>
                    <p class=""> En las instalaciones de Wayra, dirección: Av. Arequipa 1155, Cercado de Lima 15046. </p>
                </div>
            </div>
            <div class="row justify-content-md-center" style="">
                <div class="col-lg-3 col-md-12 col-mb-3">
                    <button id="btn_download" type="button" class="btn btn-default orange darken-4"  onclick="window.location.href='/downloadbases'">
                        BASES Hackaton
                    </button>
                    <script type="text/javascript">
                        $("#btn_download").click(function(){
                            window.open('/downloadbases');
                        })
                    </script>
                </div>

            </div>
            <div class="row">
                <br>
            </div>
        </section>
    </div>

    <footer class="page-footer  font-small black pt-12">
        <div class="footer-copyright default-color text-center py-3">© 2019 Copyright: Todos los derechos reservados.</br>
            Desarrollado por la dirección de tecnología de información CODE 2019.
        </div>
    </footer>

    {{!-- SCRIPTS --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/validar.js"></script>
    <script src="/js/validarticket.js"></script>
    <script src="/js/validarticket2.js"></script>
