<nav class="navbar navbar-expand-md navbar-dark transparencia scrolling-navbar fixed-top">
    <div class="container container--flex">
        <a class="navbar-brand" href="#"><img src="/img/code3.png"  alt="img-fluid z-depth-1-half" style="max-height: 56px;"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" data-scroll href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#ejes">Ejes temáticos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll  href="#productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#auspiciadores">Auspiciadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#inscripcion">Inscripción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
                <ul class="social-icon">
                    <a href="" class="social-icon__link"><span class="fab fa-youtube"></span> </a>
                    <a href="" class="social-icon__link"><span class="icon-facebook"></span></a>
                    <a href="" class="social-icon__link"><span class="icon-instagram"></span></a>
                </ul>
            </ul>
        </div>
    </div>
</nav>

<section class="fondo view" id="inicio">
    <div class=" mask rgba-black-light flex-center rgba-black-stron">
        <div class="container wow fadeInUp">
            <div class="row justify-content-md-center">
                <div class="col-md-6 text-white" >
                    <h1 style="font-weight:500" class="h1-responsive text-center text-md-left" ></h1>
                    <img src="/img/logocode2.png" alt=""class="img-fluid" >
                    <hr class="bg-light d-none d-md-block">
                    <h4 style="font-weight:300;" class=" h4-responsive d-none d-md-block text-center"> OCTUBRE - 2019</h4>
                    <div  style="font-weight:300" id="clock"></div>
                    <form action="/checkout" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_RCpwkS8TE0aH9zCGSn88F3nG00hSkOtUnL"
                                data-amount="2000"
                                data-name="CODE"
                                data-description="Ticket pass congress"
                                data-image="/img/Logo.ico"
                                data-locale="auto"
                                data-currency="eur">
                        </script>
                        <script>
                            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                        </script>
                        <button class="btn btn-dark btn-block">
                            Compra tu entrada YA! :D
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<hr class="my-5" >

<main class="container " >
    <section class="row mt-5"id="nosotros">
        <div class="col-md-6">
            <img src="/img/code2.jpg" alt="" class=" img-fluid z-depth-1-half">
        </div>
        <div class="col-md-6 mt-5 mt-md-0">
            <h1 class="mb-5 font-weight-bold text-center">¿QUIÉNES SOMOS?</h1>
            <p class="h6-responsive">Somos un equipo de estudiantes, sin fines de lucro, que con iniciativa, esfuerzo y dedicación buscamos difundir la cultura emprendedora a todo aquel que se atreva a descubrir el emprendedor que lleva dentro.</p>

        </div>
    </section>

    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="row">
                        <ul class="tabs" style="padding-inline-start: 0px;">
                            <li><a href="#tab1"><span class=""></span><span class="tab-text">Sobre el CODE</span></a></li>
                            <li><a href="#tab2"><span class=""></span><span class="tab-text">Misión</span></a></li>
                            <li><a href="#tab3"><span class=""></span><span class="tab-text">Visión</span></a></li>
                        </ul>
                        <div class="secciones">
                            <article id="tab1">
                                <p class="h6-responsive">El VII Congreso de desarrollo emprendedor (CODE), es una iniciativa del Centro Cultural Avanzado Tecnológico (CCAT) que pertenece a la Facultad de Ingeniería Industrial y Sistemas (FIIS) de la Universidad Nacional de Ingeniería (UNI), dirigida a personas interesadas en temas de emprendimiento sostenible e innovación tecnológica que busquen adquirir o profundizar conocimientos y habilidades necesarias para impulsar sus ideas de negocio tradicional o Start-Up.</p>
                            </article>
                            <article id="tab2">
                                <p class="h6-responsive">Promover la cultura emprendedora para la formación de líderes competentes que contribuyan al desarrollo del país.</p>
                            </article>
                            <article id="tab3">
                                <p class="h6-responsive">Ser reconocidos como uno de los congresos de emprendimiento más importante del Perú..</p><br>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/0O4C9URim7I?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<hr class="my-5">

<div class="container" style="margin-top:4em" >
    <h1 class="mb-5 font-weight-bold text-center" id="ejes">EJES TEMÁTICOS </h1>
    <section id="examples" class="text-center">
        <div class="row" >
            <div class="col-lg-4 col-md-12 col-mb-4">
                <div class="view overlay hm-white-slight z-depth-1-half zoom">
                    <img src="/img/EJE INDUSTRIA 4.0 02.jpg" class= "img-fluid " alt="">
                    <div class="mask" ></div>
                </div>
                <h4 class="my-4 font-weight-bold"> Industria 4.0</h4>
                <p class="grey-text">Digitalizar la industria y todos los servicios de la empresa para autogestionarse de forma más autónoma  </p>
            </div>
            <div class="col-lg-4 col-md-6 col-mb-4">
                <div class="view overlay z-depth-1-half zoom">
                    <img src="/img/metodologia emp.jpg" class= "img-fluid" alt="">
                    <a target="_blank" href="https://mdbootstrap.com/">
                        <div class="mask" ></div>
                    </a>
                </div>
                <h4 class="my-4 font-weight-bold"> Metodologia Emprendedora</h4>
                <p class="grey-text" id="Section4">Conjunto de métodos que se deben seguir para obtener como resultado un emprendimiento exitoso</p>
            </div>
            <div class="col-lg-4 col-md-6 col-mb-4">
                <div class="view overlay z-depth-1-half zoom">
                    <img src="/img/EJE SOSTENIBILIDAD 02.PNG" class= "img-fluid" alt="">
                    <div class="mask" ></div>
                </div>
                <h4 class="my-4 font-weight-bold"> Sostenibilidad</h4>
                <p class="grey-text">Desarrollar la capacidad competitiva para la gestión de recursos de manera responsable  </p>
            </div>
        </div>
    </section>
</div>

<hr class="my-5">

<section  class="container" style="margin-top:4em">
    <h1 class="mb-5 font-weight-bold text-center" id="productos"> PRODUCTOS </h1>
    <div class="row">
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators d-none d-xs-none  ">
                <h1 class="h1-responsive "></br></br></br></h1>
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active primary-color"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1" class="primary-color"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2" class="primary-color"></li>
            </ol>

            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel z-depth-1-half" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="/img/code.jpg"
                             alt="Third slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption" >
                        <h2 class="h2-responsive font-weight-bold rgba-green-strong">CONFERENCIAS MAGISTRALES</h2>
                        <h6 class="mb-0 text-center h6-responsive my-4 mx-3 d-none d-xs-none d-m-block d-lg-block d-s-block"></br></br></br>
                        </h6>
                    </div>
                    <h6 class="font-weight-bold mb-0 text-center h6-responsive my-4 mx-3 d-none d-xs-none d-m-block d-lg-block d-s-block text-default">Los participantes conocerán casos de emprendimiento de personalidades de diferentes ámbitos
                        , que compartirán su pensamiento, liderazgo, visión y experiencias de vida; además de brindar las herramientas necesarias para ser un
                        emprendedor exitoso.
                    </h6>

                </div>
                <!--/First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="/img/feria_del_emprendedor.jpg"
                             alt="Second slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption" >
                        <h2 class="h2-responsive font-weight-bold rgba-green-strong" >FERIA DEL EMPRENDEDOR</h2>
                        <h6 class="mb-0 text-center h6-responsive my-4 mx-3 d-none d-xs-none d-m-block d-lg-block d-s-block"></br></br></br>
                        </h6>
                    </div>
                    <h6 class="font-weight-bold mb-0 text-center h6-responsive my-4 mx-3 d-none d-xs-none d-m-block d-lg-block d-s-block text-default">Consiste en la presentación de diversas instituciones que promueven
                        la creación de empresas en base al desarrollo de ideas emprendedores, así como también se presentan
                        empresas que hayan alcanzado el éxito en base a sus ideas de emprendimiento.
                    </h6>
                </div>
                <!--/Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="/img/tercer_congreso_coach.jpg"
                             alt="First slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption" >
                        <h2 class="h2-responsive font-weight-bold rgba-green-strong">WORKSHOP</h2>
                        <h6 class="mb-0 text-center h6-responsive my-4 mx-3 d-none d-xs-none d-m-block d-lg-block d-s-block"></br></br></br>
                        </h6>
                    </div>
                    <h6 class="font-weight-bold mb-0 text-center h6-responsive my-4 mx-3 d-none d-xs-none d-m-block d-lg-block d-s-block text-default">Brinda herramientas, técnicas para empezar, sostener y tu
                        espíritu emprendedor. Su objetivo principal es aplicar los conocimientos adquiridos en los trabajos
                        y está dirigido por Coachs o talleristas con alta experiencia en el mercado.
                    </h6>
                </div>
                <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon orange darken-4" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon orange darken-4" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->

        </div>
    </div>

    </div>

</section>

<hr class="my-5">

<section  class="container" style="margin-top:4em">
    <h1 class="mb-5 font-weight-bold text-center" id="auspiciadores"> AUSPICIADORES </h1>

    <div class="d-flex justify-content-around">
        <div class="p-3 view overlay p-3">
            <img src="/img/logoadathinklab.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <!--<a href="">
              <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>-->
        </div>
        <div class="p-3 view overlay p-3 d-none d-sm-block">
            <img src="/img/R.Competitividad.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <a href="">
                <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
        </div>
        <div class="p-3 view overlay p-3 d-none d-sm-block">
            <img src="/img/logoccat.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <!--<a href="">
              <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>-->
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div class="p-3 view overlay p-3 d-none d-sm-block">
            <img src="/img/logofiisuni.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <!--<a href="">
              <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>-->
        </div>
        <div class="p-3 view overlay p-3 d-none d-sm-block">
            <img src="/img/logospinout.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <a href="">
                <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
        </div>
        <div class="p-3 view overlay p-3">
            <img src="/img/logouni.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <a href="">
                <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div class="p-3 view overlay p-3">
            <img src="/img/logocompetitividad.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <a href="">
                <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
        </div>
        <div class="p-3 view overlay p-3 d-none d-sm-block">
            <img src="/img/peruclean.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <a href="">
                <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
        </div>
        <div class="p-3 view overlay p-3 d-none d-sm-block">
            <img src="/img/organo.JPG" class="img-overlay img-circle" alt="Sample image with waves effect.">
            <a href="">
                <div class="mask waves-effect waves-light rgba-white-slight" id="contacto"></div>
            </a>
        </div>
    </div>
</section>

<hr class="my-5" >

<section class="container" >
    <h1 class="mb-5 font-weight-bold text-center">CONTACTO</h1>
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <form action="/" method="POST" class="p-5">
                <div class="md-form form-sm">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input name ="nombre" type="text" id="input-1" class="form-control">
                    <label for="input-1">Nombre</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input name ="email" type="email" id="input-2" class="form-control">
                    <label for="input-2">Correo electronico</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input name ="tema" type="text" id="input-3"
                           class="form-control">
                    <label for="input-3">Tema</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fas fa-pencil-alt prefix grey-text"></i>
                    <textarea name ="description" type="text" id="input-4"
                              class="md-textarea" style="height:
						100px;"></textarea>
                    <label for="input-4">Tu mensaje</label>
                </div>
                <div class="text-center">
                    <button class="btn btn-black">Enviar<i class="fas fa-paper-plane ml-2"></i></button>
                </div>
            </form>
            {{#if success}}
                <div class="container p-4">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{{success}}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="row text-center">
                <div class="col-md-4 mb-3">
                    <p><i class="fas fa-map-marker-alt mr-2grey-text"></i> Universidad Nacional de Ingenieria</p>
                </div>
                <div class="col-md-4 mb-3">
                    <p><i class="fas fa-university mr-2grey-text"></i> Facultad de Ingenieria Industrial y de Sistemas </p>
                </div>
                <div class="col-md-4 mb-3">
                    <p><i class="fab fa-whatsapp mr-2grey-text"></i> 923 401 037 </p>
                </div>
            </div>
            <!--Google maps-->
            <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="page-footer font-small black pt-12">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                    repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
                    harum esse fugiat. Itaque, culpa?</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3 d-none d-xs-none d-m-block d-lg-block d-s-block">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold ">Footer text 2</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
                    commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
                    excepturi hic.</p>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright: Todos los derechos reservados.</br>
        Desarrollado por la dirección de tecnología de información CODE 2019.
    </div>
</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/countdown.js"></script>
<script type="text/javascript">
    $('#clock').countdown('2019/10/15', function(event) {
        var $this = $(this).html(event.strftime(''
                +'<div><span>%w</span><span>Weeks</span></div>'
                +'<div><span>%d</span><span>Days</span></div>'
                +'<div><span>%H</span><span>Hr</span></div>'
                +'<div><span>%M</span><span>Min</span></div>'
                +'<div><span>%S</span><span>Sec</span></div>'
        ));
    });
</script>
<!--Script para el google maps-->
<script src="https://maps.google.com/maps/api/js"></script>
<!-- Ajustes para Google Maps -->
<script>
    //mapa regular
    function regular_map() {
        var var_location = new google.maps.LatLng(-12.017732, -77.049440);
        var var_mapoptions = {
            center: var_location,
            zoom: 14
        };
        var var_map = new google.maps.Map(document.getElementById("map-container"),
                var_mapoptions);
        var var_marker = new google.maps.Marker({
            position: var_location,
            map: var_map,
            title: "Congreso de desarrollo emprendedor"
        });
    }
    // Inicia el mapa
    google.maps.event.addDomListener(window, 'load', regular_map);
</script>
<script>
    $('.carousel').carousel ({
        interval: 12000,
    })
</script>
<script>
    new WOW().init();
    var scroll = new SmoothScroll('a[href*="#"]',{
                offset: 100,
                speed: 1000
            }
            )
    ;
</script>