<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de desarrollo emprendedor</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/Logo.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
</head>
<body>
<div style="max-height: 100%;background-color: #929292">
    <div class="container" >
        <div class="row justify-content-md-center" >
            <div class="col-12 col-md-auto" style="background-color: white">
                <div class="row justify-content-md-center" style="background-color: #00aaff;">
                    <h4 class="font-weight-bold" style="color: #ffffff;margin-top: 1%;visibility: hidden;">Entrada general CODE</h4>
                </div>
                <div class="row justify-content-md-center">
                    <h1>Hola {{nombrepersona}}</h1>
                </div>

                <div class="row">
                    <img class="d-block w-100 img-fluid img-responsive" src="https://i.ibb.co/sPCyVVP/ticketonline.png">
                </div>
                <div class="row justify-content-md-center" style="background-color: #965923;">
                    <h4 class="font-weight-bold" style="color: #ffffff;margin-top: 1%;">Entrada general CODE</h4>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <img class="w-100" src="http://www.codigos-qr.com/qr/php/qr_img.php?d={{codigoqr}}&s=4&e=" alt="Generador de Códigos QR Codes"/>
                    </div>
                    <div class="col-md-8" style="margin-top: 1%;">
                        <h6 class="font-weight-bold">Entrada general CODE</h6>
                        <h6>25 de octubre - 30 de octubre</h6>
                        <h6>Av. Tupac Amaru 210, Rimac</h6>
                        <h6>Estación Honorio Delgado - Puerta Nº 5 de la Universidad Nacional de Ingeniería</h6>
                        <h6 class="font-weight-bold">{{nombrepersona}} {{apellidospersona}}</h6>
                        <h6 class="font-weight-bold">DNI: {{dnipersona}}</h6>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>
</body>
</html>